<!DOCTYPE html>
<html>
    <head>
        <title>Favorite Assignment</title>
    <head>
    <body>
    <h1>My Favorite Assignment</h1>
    
    
    <p>My favorite assignment this semester was the midterm, since it was something that was fun to interact and mess with.
    I think this allowed me to understand the assignment better and allowed it to be more memorable since I was able to 
    see how my code managed to change certain attributes of the image.</p>
    
    <a href="/">Back</a>
    </body>
</html>

