<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Charlie Jiang</h1>
    
    <!--Shows my photo !-->
    <img src="static/IMG_5970.jpg" alt="Photo of Me!" 
    height="300" length="400" title="Photo of myself"/>
    
    
    <!--My current grade & major !-->
    <p style="color:#B9D9EB">Rising Sophmore at Columbia University</p>
    <p>Intended CS or IEOR major</p>
    
    <!--link to favoriteAssignment page !-->
    <p><a href="/FavoriteAssignment">My favorite assignment this semester</a></p>
    
    <!--link to Spring Classes page !-->
    <p><a href="/My_Spring_Classes">My classes this semester</a></p>
     
    <!--link to favorite website !-->
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">My favorite website</a></p>
    </body>
</html>

