<!DOCTYPE html>
<html>
    <head>
    <!--Generates title for the website !-->
        <title>Spring 2020 Classes</title>
        <!--Sets style for the table containing Spring classes !-->
        <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }   
        th, td {
          padding: 10px;
        }
        th {
          text-align: left;
        }
        </style>
    </head>
    <body>
    <!--Header !-->
    <h1>My Spring Classes</h1>
    
    <!--Table containing spring classes & call number !-->
    <table style="width:60%"><caption>Classes</caption>
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Call Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GENERAL CHEMISTRY LAB</td>
                <td>CHEM 1501 UN</td>
            </tr>
            <tr>
                <td>DATA STRUCTURES IN JAVA</td>
                <td>COMS 3134 W</td>
            </tr>
            <tr>
                <td>INTRO TO COMP FOR ENG/APP</td>
                <td>ENGI 1006 E</td>
            </tr>
            <tr>
                <td>UNIVERSITY WRITING</td>
                <td>ENGL 1010 CC</td>
            </tr>
            <tr>
                <td>INTRO ELEC/MAGNETSM & OPTC</td>
                <td>PHYS 1402 UN</td>
            </tr>
            <tr>
                <td>MULTIVARIABLE CALC ENG/AP</td>
                <td>APMA 2000 E</td>
            </tr>
        </tbody>
    </table>
    
    <!--link back to starting page !-->
    <a href="/">Back</a>
    </body>
</html>